body {
    background: #FCFCFC;
    color: #333333;
    font-family: 'Helvetica';
}

.confidence-4 {
    color: #1a9641;
}
.confidence-3 {
    color: #000000;
}
.confidence-2 {
    color: #ffffbf;
}
.confidence-1 {
    color: #d7191c;
}

#nav {
    z-index: 100;
}

#query-plan {
    z-index: 100;
    margin-top: 64px;
}

.operator {
    position: relative;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    cursor: pointer;
    border: 2px solid #77A6B6;
    border-radius: 4px;
    line-height: normal;
    min-width: 196px;
    max-width: 196px;
    min-height: 48px;
    max-height: 48px;
}
.operator-info {
    font-size: 0.75em;
}

.tree ul {
    display: flex;
    padding-left: 0;
    list-style: none;
    text-align: center;
}

.tree li {
    box-sizing: border-box;
    flex: 1;
    padding: 0 8px;
}

.tree li > .operator:not(:last-child):after {
    position: absolute;
    content: '';

    left: 50%;
    bottom: -34px;
    height: 32px;
    transform: translate(-4px, 0px);

    border-left: 4px solid #777777;
}

.tree li ul {
    position: relative;
    margin-top: 64px;
}

.tree li ul li {
    position: relative;
}

.tree li ul li:after,
.tree li ul li:before {
    position: absolute;
    content: '';

    top: -32px;
    width: 50%;

    border-top: 4px solid #777777;
}

.tree li ul li:before {
    left: 50%;
    height: 32px;

    border-left: 4px solid #777777;
}

.tree li ul li:after {
    right: 50%;
}

.tree li ul li:first-child:before,
.tree li ul li:last-child:before {
    top: -32px;

    border-top: 4px solid #777777;
    border-top-left-radius: 8px;
}

.tree li ul li:first-child:after,
.tree li ul li:last-child:after {
    border: none;
}

.tree li ul li:last-child:before {
    left: 0;
    right: 50%;

    border-left: 0;
    border-right: 4px solid #777777;
    border-top-left-radius: 0;
    border-top-right-radius: 8px;
}

.tree li ul li:only-child:before {
    border-top: none;
    border-top-right-radius: 0;
}

/* ---------------------------------- */
/* Classes for dynamic edge rendering */
.x10:before,
.x10:after {
    opacity: 1.0;
}
.x9:before,
.x9:after {
    opacity: 0.9;
}
.x8:before,
.x8:after {
    opacity: 0.8;
}
.x7:before,
.x7:after {
    opacity: 0.7;
}
.x6:before,
.x6:after {
    opacity: 0.6;
}
.x5:before,
.x5:after {
    opacity: 0.5;
}
.x4:before,
.x4:after {
    opacity: 0.4;
}
.x3:before,
.x3:after {
    opacity: 0.3;
}
.x2:before,
.x2:after {
    opacity: 0.2;
}
.x1:before,
.x1:after {
    opacity: 0.1;
}
